.btn-primary {
  background-color: gray !important;
  border-color: transparent !important;
}

hr {
  border: 3px solid black !important;
  background-color: black !important;
}

.logo-text{
  letter-spacing: 10px !important;
  font-size: 4rem !important;
}
